# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are: 

    1. Python
    2. R
    3. Julia

Some of the commonly used libraries used by Data Scientists include:
    
    1. plotly
    2. ggplot2
    3. NumPy



| Data Science Tools |
| -------------|
| RStudio | 
| Jupyter Notebook |
| Github |

Below are a few examples of evaluation arithmetic expressions in Python.

In [7]:
3+3

6

In [9]:
a = 4
b = 3
c = a + b
print(c)

7

In [10]:
# This is a simple arithmetic expression to mulitply then add integers.
(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60
time_min = 200
time_h = time_min / 60
print(time_h)

3.3333333333333335

__Objectives:__
- List popular languages for Data Science
- Provide jupyter examples
- List data science libraries

## Author
Jojo